#game-scene {
  background-image: url('/images/game-scene.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  animation-name: walkcycle;
  animation-duration: 12000ms;
  // animation-direction: alternate;
  animation-timing-function: steps(45);
  animation-play-state: running;
  animation-iteration-count: infinite;
  position: relative;
  top: -20px;
}
// #swim {
//   background-image: url('/images/game-scene.webp');
//   background-repeat: no-repeat;
//   background-size: 900%;
//   animation-name: walkcycle;
//   animation-duration: 5ms;
//   animation-direction: alternate;
//   animation-timing-function: steps(8);
//   animation-play-state: paused;
//   animation-delay: calc(0s - calc(calc(var(--scroll) + 5) * 10ms));
//   animation-iteration-count: infinite;
//   @media (max-width: 500px) {
//     animation-delay: calc(0s - calc(calc(var(--scroll) + 5) * 20ms));
//   }
// }
@keyframes walkcycle {
  0% { background-position: 0 0%;     opacity: 0; }
  2% { background-position: 0 0%;     opacity: 1; }
  10% { background-position: 0 0%;    opacity: 1; }
  85% { background-position: 0 100%;  opacity: 1; }
  95% { background-position: 0 100%;  opacity: 1; }
  100% { background-position: 0 100%; opacity: 0; }
}

.ice-jungle {
  background-size: cover;
  height: 100vh;
  background-image: url('/images/ice-jungle.png');
  background-repeat: no-repeat;
  background-position: top;
  animation-name: junglecycle;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 60s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  position: relative;
  filter: opacity(0.45);
}

@keyframes junglecycle {
  0% { background-position: 0% 0%;     opacity: 1; }
  100% { background-position: 100% 0%; opacity: 1; }
}

.throbbing {
  animation-name: throbbing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes throbbing {
  0%   { opacity: 0.55; }
  80%  { opacity: 0.6;  }
  100% { opacity: 0.55; }
}